@charset "UTF-8";


/*
    Paletas de cores 
    black: #102426
    Lilas: #723873

    Roxo: #380140
    Preto: #00010D
    Cinza escuro: #191F40
    Vinho Escuro: #400101
*/
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}


 body,html {
    background-image: linear-gradient(to bottom ,#380140e1 62% ,#00010d 93%);
    height: 100vh;
    width: 100vw;
    
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

section#login{
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    
    background-color: rgba(105, 5, 97, 0.589);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 12px #191f40ef;


    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
}

section#login > div#formulario {
    display: block;
    padding: 10px;    
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}


section#login > div#imagem {
    display: block;
    background: url(../imagem/tela.jpg) no-repeat;
    background-size: cover;
    background-position: left center;
    height: 200px;

}

section#login > div.home {
    display: block;
    padding: 10px;
}

section > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div.home{
    font-size: 0.8em;
}

form > div.home {
    background-color: #191F40;
    border: 2px solid #191F40;
    width: 100%;
    display: block;
    height: 40px;
    color: bisque;
    margin: 5px 0px;
}

div.home > label{
    display: none;
}

div.home > input {
    background-color: #050000;
    font-size: 1em;
    width: calc(100% - 67px);
    transform: translateY(-2px);
    height: 90%;
    border-radius: 8px;
    border: 0px;
    padding: 4px;
}

div.home > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    background-color: #2c0227c0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
    
form > a.esq {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #40010177;
    color: rgba(95, 158, 160, 0.548);
    border: 1px solid #40010198;
    border-radius: 7px;
    text-decoration: none;
}

form > a.esq:hover {
    background-color: #191F40;
}

